body {
    min-height: 600px;
    background-color: #FFFFFF;
}

.top-menu-link {
    font-family: "Felix Titling", Arial, serif;
    font-size: 18px;
    padding: 2px;
    width: 70px;
    vertical-align: center;
    align-content: center;
    border-left: 1px solid #dddfe0;
}

.top-menu-link, .top-menu-link:hover, .top-menu-link a:visited, .top-menu-link, a:visited, a:link {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #757a7d;
}

.top-menu-link:hover {
    border-bottom: 5px solid #000000;
    cursor: pointer;
}

.quick-search-select {
    font-family: Arial, ui-rounded;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    width: 150px;
    text-align: center;
    background-color: gray;
    color: #ffffff;
    margin-right: 2px;
}

.quick-search-box {
    font-family: Arial, ui-rounded;
    font-size: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 23px;
    width: 250px;
    text-align: left;
    color: dimgray;
}

.top-search-submit {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    width: 30px;
}

.top-search-submit img {
    padding-left: 1px;
}

header {
    border-bottom: 1px solid dimgray;
}

footer {
    border-top: 1px solid #b7bcc4;
    font-family: Arial, ui-rounded;
    text-align: right;
    font-size: 14px;
    color: #585959;
}

.final-label img {
    height: 250px;
    width: 250px;
}

.tbl-classify {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    font-family: Tahoma, ui-rounded;
    font-size: 13px;
}

.tbl-classify h1 {
    text-align: center;
    font-family: Arial, Tahoma, ui-rounded;
}

.txt {
    border: 1px solid #757a7d;
    padding: 2px;
    height: 25px;
    font-family: Tahoma, ui-rounded;
    font-size: 14px;
    color:  #656d71;
    background-color: #f4f6f6;
}

.numeric {
    text-align: right;
    padding-right: 10px;
}

.final-label {
    border-left: 7px solid black;
    border-bottom: 7px solid black;
    border-right: 5px solid #969c9e;
    border-top: 5px solid #969c9e;
    border-radius: 15px;
    padding: 2px;
    width: 250px;
    height: 250px;
    background-color: #e9eff5;
}

.cls-label {
    margin: auto;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.tag-label {
    background-color:  #dcdddd;
    height: 22px;
    text-align: center;
}


.btn-grad {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}


.btn-grad {
    background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad {
    background-color: black;
    cursor: pointer;
}

.catalog-tbl {
    border: 1px solid #656d71;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    font-family: Tahoma, ui-rounded;
    font-size: 13px;
}

.catalog-tbl .header {
    border-bottom: 5px solid #000000;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
}

.catalog-tbl td {
    height: 25px;
    color: #3e4d4d;
    border-bottom:  1px solid #b9baba;
}

.search-box {
    border: 1px solid #656d71;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
}

.search-box tr {
    background-color: #f1f2f3;
}

.btn {
    background-image: linear-gradient(#000000, #5e6872, #000000);
    height: 38px;
    width: 100px;
    border-radius: 7px;
    color: #eaedf0;
}