{% include "header.html" %}
{% load static %}
<script type="text/javascript" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
<script src="{% static 'js/catalog_detail.js' %}"></script>
<br />
{% if galaxy is None %}
<h2>Sorry No Data Available</h2>
{% else %}
<table align="center" width="900px" cellpadding="2px">
    <tr>
        <td class="clz-division">
            <table width="150" align="center">
                <tr>
                    <td class="clz-major">{{galaxy.taxonomy_code}}</td>
                </tr>
                {% if galaxy.taxonomy_code !=  galaxy.obj_class %}
                <tr>
                    <td class="clz-minor">{{galaxy.obj_class}}<input type="hidden" id="clz-minor" value="{{galaxy.obj_class}}"/></td>
                </tr>
                {% endif %}
            </table>
        </td>
        <td>
            <table class="intro-tbl">
                <tr>
                    <td class="iauname-headline" colspan="2">&nbsp;{{galaxy.iauname}}<input type="hidden" id="iauname" value="{{galaxy.iauname}}"/></td>
                </tr>
                <tr>
                    <td class="td-info">Right Ascension</td>
                    <td><span class="ra-hr-rep">{{galaxy.ra_string}}</span><span class="ra-deg-rep">{{galaxy.ra}} Deg</span><input type="hidden" id="ra" value="{{galaxy.ra}}"/></td>
                </tr>
                <tr>
                    <td class="td-info">Declination</td>
                    <td><span class="dec-rep">{{galaxy.dec_string}}</span><span class="dec-deg-rep">{{galaxy.declination}} Deg</span><input type="hidden" id="dec" value="{{galaxy.declination}}"/></td>
                </tr>
                <tr>
                    <td class="td-info">Redshift</td>
                    <td>{{galaxy.redshift}}</td>
                </tr>
                <tr>
                    <td class="td-info">Petro 50% R-Band</td>
                    <td>{{galaxy.petror50_r}}</td>
                </tr>
                <tr>
                    <td class="td-info">Petro 90% R-Band</td>
                    <td>{{galaxy.petror90_r}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td valign="top"><div id="aladin-lite-div" style="width:600px;height:380px;"></div></td>
                    <td valign="top">
                        <table class="intro-tbl">
                            <tr>
                                <td colspan="2" class="td-info header-title">Apparent Quantities From Photometry</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Surface Brightness Petro 50% R-Band</td>
                                <td class="td-info">{{galaxy.mu50_r}} mag/arcsec<sup>2</sup></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Composite Model in R-Band</td>
                                <td class="td-info">{{galaxy.cmodelmag_r}} mag</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Composite Model Error in R-Band</td>
                                <td class="td-info">{{galaxy.cmodelmagerr_r}} mag</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="td-info header-title">Redshift Quantities</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Spectroscopic Redshift</td>
                                <td class="td-info" align="center">{{galaxy.redshift}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Spectroscopic Redshift Error</td>
                                <td class="td-info" align="center">{{galaxy.redshifterr}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="td-info header-title">Bin Numbers</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Physical Size of Galaxy</td>
                                <td class="td-info" align="center">{{galaxy.petror50_r_kpc_simple_bin}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Luminosity of Galaxy</td>
                                <td class="td-info" align="center">{{galaxy.petromag_mr_simple_bin}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Redshift of Galaxy</td>
                                <td class="td-info" align="center">{{galaxy.redshift_simple_bin}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td class="td-info-head">Weighted Voronoi Tessellation</td>
                                <td class="td-info" align="center">{{galaxy.wvt_bin}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td>
                        <table class="catalog-tbl">
                            <tr>
                                <td colspan="6" class="header">Petrosian Apparent Magnitude and Error</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td width="60"><b>U-Band</b></td>
                                <td width="60"><b>G-Band</b></td>
                                <td width="60"><b>R-Band</b></td>
                                <td width="60"><b>I-Band</b></td>
                                <td width="60"><b>Z-Band</b></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Magnitude</td>
                                <td align="right">{{galaxy.petromag_u}}</td>
                                <td align="right">{{galaxy.petromag_g}}</td>
                                <td align="right">{{galaxy.petromag_r}}</td>
                                <td align="right">{{galaxy.petromag_i}}</td>
                                <td align="right">{{galaxy.petromag_z}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Error</td>
                                <td align="right">{{galaxy.petromagerr_u}}</td>
                                <td align="right">{{galaxy.petromagerr_g}}</td>
                                <td align="right">{{galaxy.petromagerr_r}}</td>
                                <td align="right">{{galaxy.petromagerr_i}}</td>
                                <td align="right">{{galaxy.petromagerr_z}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="catalog-tbl">
                            <tr>
                                <td colspan="6" class="header">Petrosian Absolute Magnitude and Error</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td width="60"><b>U-Band</b></td>
                                <td width="60"><b>G-Band</b></td>
                                <td width="60"><b>R-Band</b></td>
                                <td width="60"><b>I-Band</b></td>
                                <td width="60"><b>Z-Band</b></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Magnitude</td>
                                <td align="right">{{galaxy.petromag_mu}}</td>
                                <td align="right">{{galaxy.petromag_mg}}</td>
                                <td align="right">{{galaxy.petromag_mr}}</td>
                                <td align="right">{{galaxy.petromag_mi}}</td>
                                <td align="right">{{galaxy.petromag_mz}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Error</td>
                                <td align="right">{{galaxy.petromagerr_mu}}</td>
                                <td align="right">{{galaxy.petromagerr_mg}}</td>
                                <td align="right">{{galaxy.petromagerr_mr}}</td>
                                <td align="right">{{galaxy.petromagerr_mi}}</td>
                                <td align="right">{{galaxy.petromagerr_mz}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="catalog-tbl" width="100%">
                            <tr>
                                <td colspan="6" class="header">Row and Column Center Position</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td width="60"><b>U-Band</b></td>
                                <td width="60"><b>G-Band</b></td>
                                <td width="60"><b>R-Band</b></td>
                                <td width="60"><b>I-Band</b></td>
                                <td width="60"><b>Z-Band</b></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Row</td>
                                <td align="right">{{galaxy.rowc_u}}</td>
                                <td align="right">{{galaxy.rowc_g}}</td>
                                <td align="right">{{galaxy.rowc_r}}</td>
                                <td align="right">{{galaxy.rowc_i}}</td>
                                <td align="right">{{galaxy.rowc_z}}</td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>Column</td>
                                <td align="right">{{galaxy.colc_u}}</td>
                                <td align="right">{{galaxy.colc_g}}</td>
                                <td align="right">{{galaxy.colc_r}}</td>
                                <td align="right">{{galaxy.colc_i}}</td>
                                <td align="right">{{galaxy.colc_z}}</td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">
                        <table class="catalog-tbl" width="100%">
                            <tr>
                                <td colspan="6" class="header">Extinction</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td width="60"><b>U-Band</b></td>
                                <td width="60"><b>G-Band</b></td>
                                <td width="60"><b>R-Band</b></td>
                                <td width="60"><b>I-Band</b></td>
                                <td width="60"><b>Z-Band</b></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td>&nbsp;</td>
                                <td align="right">{{galaxy.extinction_u}}</td>
                                <td align="right">{{galaxy.extinction_g}}</td>
                                <td align="right">{{galaxy.extinction_r}}</td>
                                <td align="right">{{galaxy.extinction_i}}</td>
                                <td align="right">{{galaxy.extinction_z}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="catalog-tbl" width="100%">
                            <tr>
                                <td colspan="3" class="header">Magnitude of R-Band</td>
                            </tr>
                            <tr>
                                <td><b>PSF</b></td>
                                <td><b>Spectroscopic Fiber</b></td>
                                <td><b>deVaoucouleurs Coeff</b></td>
                            </tr>
                            <tr bgcolor="#f6f9fb">
                                <td align="center">{{galaxy.psfmag_r}}</td>
                                <td align="center">{{galaxy.fibermag_r}}</td>
                                <td align="center">{{galaxy.fracdev_r}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endif %}
{% include "footer.html" %}
