{% include "header.html" %}
{% load static %}
<script src="{% static 'js/classify.js' %}"></script>
<table class="tbl-classify">
    <tr>
        <td colspan="2"><h1>Instant Galaxy Classifier</h1></td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>PETROR 50R</td>
                    <td width="200"><input type="text" class="txt numeric" id="petror50_r" /></td>
                    <td>PETROR 90R</td>
                    <td><input type="text" class="txt numeric" id="petror90_r"/></td>
                </tr>
                <tr>
                    <td>PETROMAG U</td>
                    <td><input type="text" class="txt numeric" id="petromag_u" /></td>
                    <td>PETROMAG G</td>
                    <td><input type="text" class="txt numeric" id="petromag_g"/></td>
                </tr>
                <tr>
                    <td>PETROMAG R</td>
                    <td><input type="text" class="txt numeric" id="petromag_r"/></td>
                    <td>PETROMAG I</td>
                    <td><input type="text" class="txt numeric" id="petromag_i"/></td>
                </tr>
                <tr>
                    <td>PETROMAG Z</td>
                    <td><input type="text" class="txt numeric" id="petromag_z"/></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr><td colspan="4">&nbsp;</td></tr>
                <tr>
                    <td>PETROMAGERR U</td>
                    <td><input type="text" class="txt numeric" id="petromagerr_u"/></td>
                    <td>PETROMAGERR G</td>
                    <td><input type="text" class="txt numeric" id="petromagerr_g"/></td>
                </tr>
                <tr>
                    <td>PETROMAGERR R</td>
                    <td><input type="text" class="txt numeric" id="petromagerr_r"/></td>
                    <td>PETROMAGERR I</td>
                    <td><input type="text" class="txt numeric" id="petromagerr_i"/></td>
                </tr>
                <tr>
                    <td>PETROMAGERR Z</td>
                    <td><input type="text" class="txt numeric" id="petromagerr_z"/></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="final-label"><img src="{% static 'images/planet.png' %}" /><p class="cls-label"></p></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>Import From File: <input type="file" accept="text/csv" class="txt" id="file_import" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">PSFMAG R</td>
                    <td class="tag-label">FIBERMAG R</td>
                    <td class="tag-label">DEVMAG R</td>
                    <td class="tag-label">EXPMAG R</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="psfmag_r" /></td>
                    <td><input type="text" class="txt numeric" id="fibermag_r"/></td>
                    <td><input type="text" class="txt numeric" id="devmag_r" /></td>
                    <td><input type="text" class="txt numeric" id="expmag_r" /></td>
                </tr>
                <tr>
                    <td class="tag-label">DEVMAGERR R</td>
                    <td class="tag-label">EXPMAGERR R</td>
                    <td class="tag-label">FRACDEV R</td>
                    <td class="tag-label">MU50 R</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="devmagerr_r" /></td>
                    <td><input type="text" class="txt numeric" id="expmagerr_r" /></td>
                    <td><input type="text" class="txt numeric" id="fracdev_r" /></td>
                    <td><input type="text" class="txt numeric" id="mu50_r" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">EXTINCTION U</td>
                    <td class="tag-label">EXTINCTION G</td>
                    <td class="tag-label">EXTINCTION R</td>
                    <td class="tag-label">EXTINCTION I</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="extinction_u" /></td>
                    <td><input type="text" class="txt numeric" id="extinction_g" /></td>
                    <td><input type="text" class="txt numeric" id="extinction_r" /></td>
                    <td><input type="text" class="txt numeric" id="extinction_i" /></td>
                </tr>
                <tr>
                    <td class="tag-label">EXTINCTION Z</td>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="extinction_z" /></td>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">ROWC U</td>
                    <td class="tag-label">ROWC G</td>
                    <td class="tag-label">ROWC R</td>
                    <td class="tag-label">ROWC I</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="rowc_u" /></td>
                    <td><input type="text" class="txt numeric" id="rowc_g" /></td>
                    <td><input type="text" class="txt numeric" id="rowc_r" /></td>
                    <td><input type="text" class="txt numeric" id="rowc_i" /></td>
                </tr>
                <tr>
                    <td class="tag-label">ROWC Z</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="rowc_z"/></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">COLC U</td>
                    <td class="tag-label">COLC G</td>
                    <td class="tag-label">COLC R</td>
                    <td class="tag-label">COLC I</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="colc_u" /></td>
                    <td><input type="text" class="txt numeric" id="colc_g" /></td>
                    <td><input type="text" class="txt numeric" id="colc_r" /></td>
                    <td><input type="text" class="txt numeric" id="colc_i" /></td>
                </tr>
                <tr>
                    <td class="tag-label">COLC Z</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="colc_z" /></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">CMODELMAG R</td>
                    <td class="tag-label">CMODELMAGERR R</td>
                    <td class="tag-label">REDSHIFT</td>
                    <td class="tag-label">REDSHIFTERR</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="cmodelmag_r" /></td>
                    <td><input type="text" class="txt numeric" id="cmodelmagerr_r" /></td>
                    <td><input type="text" class="txt numeric" id="redshift" /></td>
                    <td><input type="text" class="txt numeric" id="redshifterr" /></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">PETROMAG MU</td>
                    <td class="tag-label">PETROMAG MG</td>
                    <td class="tag-label">PETROMAG MR</td>
                    <td class="tag-label">PETROMAG MI</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="petromag_mu" /></td>
                    <td><input type="text" class="txt numeric" id="petromag_mg" /></td>
                    <td><input type="text" class="txt numeric" id="petromag_mr" /></td>
                    <td><input type="text" class="txt numeric" id="petromag_mi" /></td>
                </tr>
                <tr>
                    <td class="tag-label">PETROMAG MZ</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="petromag_mz" /></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">PETROMAGERR MU</td>
                    <td class="tag-label">PETROMAGERR MG</td>
                    <td class="tag-label">PETROMAGERR MR</td>
                    <td class="tag-label">PETROMAGERR MI</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="petromagerr_mu" /></td>
                    <td><input type="text" class="txt numeric" id="petromagerr_mg" /></td>
                    <td><input type="text" class="txt numeric" id="petromagerr_mr" /></td>
                    <td><input type="text" class="txt numeric" id="petromagerr_mi" /></td>
                </tr>
                <tr>
                    <td class="tag-label">PETROMAGERR MZ</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="petromagerr_mz" /></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td class="tag-label">PETROR50 R KPC</td>
                    <td class="tag-label">PETROR50 R KPC Simple Bin</td>
                    <td class="tag-label">PETROMAG MR Simple Bin</td>
                    <td class="tag-label">Redshift Simple Bin</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="petror50_r_kpc" /></td>
                    <td><input type="text" class="txt numeric" id="petror50_r_kpc_simple_bin" /></td>
                    <td><input type="text" class="txt numeric" id="petromag_mr_simple_bin" /></td>
                    <td><input type="text" class="txt numeric" id="redshift_simple_bin" /></td>
                </tr>
                <tr>
                    <td class="tag-label">WVT Bin</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="text" class="txt numeric" id="wvt_bin" /></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" class="btn-grad" value="Find Galaxy Class" id="btn-clazz" /></td>
    </tr>
</table>
{% include "footer.html" %}