<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>.:Citizen Galaxy</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
        <script type="text/javascript">
            //https://www.chartjs.org/docs/latest/samples/other-charts/doughnut.html
            //const myChart = new Chart("myChart", {
            //    type: "line",
            //    data: {},
            //    options: {}
            //});
        </script>
    </head>
    <body>
    <header>
        <table>
            <tr>
                <td><img src="{% static 'images/favicon.png' %}" height="60px" width="60px"/></td>
                <td><img src="{% static 'images/cg.jpg' %}"/></td>
                <td class="top-menu-link"><a href="/statistics">Statistics</a></td>
                <td class="top-menu-link">Search</td>
                <td class="top-menu-link"><a href="/classify">Classify</a></td>
                <td class="top-menu-link">&nbsp;</td>
                <td>
                    <form>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <select class="quick-search-select">
                                        <option>Quick Search</option>
                                        <option>Obj ID</option>
                                        <option>IAU Name</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" placeholder="Search Object" class="quick-search-box" />
                                </td>
                                <td class="top-search-submit">
                                    <img src="{% static 'images/search.png' %}" height="24px" width="24px" />
                                </td>
                            </tr>
                        </table>
                    </form>

                </td>
            </tr>
        </table>
    </header>