<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>.:Citizen Galaxy</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $(".top-search-submit").click(function() {
                    $("#frm_quick_search").submit();
                });
            });
            var corsAttr = new EnableCorsAttribute("*", "*", "*");
            config.EnableCors(corsAttr);
        </script>
    </head>
    <body>
    <header>
        <table>
            <tr>
                <td><img src="{% static 'images/favicon.png' %}" height="60px" width="60px"/></td>
                <td><img src="{% static 'images/cg.jpg' %}"/></td>
                <td class="top-menu-link"><a href="/statistics">Statistics</a></td>
                <td class="top-menu-link"><a href="/catalog">Catalog</a></td>
                <td class="top-menu-link"><a href="/classify">Classify</a></td>
                <td class="top-menu-link">&nbsp;</td>
                <td>
                    <form method="post" action="/catalog" id="frm_quick_search">
                        {% csrf_token %}
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <select class="quick-search-select" name="search_option">
                                        <option value="">Quick Search</option>
                                        <option value="obj_id" {% if post_data.search_option == 'obj_id' %} selected {% endif %} >Obj ID</option>
                                        <option value="iauname" {% if post_data.search_option == 'iauname' %} selected {% endif %} >IAU Name</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" placeholder="Search Object" class="quick-search-box" name="search_value" value="{{ post_data.search_value }}"/>
                                </td>
                                <td class="top-search-submit">
                                    <img src="{% static 'images/search.png' %}" height="24px" width="24px" />
                                </td>
                            </tr>
                        </table>
                    </form>

                </td>
            </tr>
        </table>
    </header>
