{% include "header.html" %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/stats.js' %}"></script>

<table align="center" width="900px" cellpadding="2px">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="350px">
                        <div>
                            <canvas id="groups"></canvas>
                        </div>
                    </td>
                    <td width="550px">
                        <div>
                            <canvas id="clazz"></canvas>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>aaa</td>
    </tr>
</table>
{% include "footer.html" %}
